{% extends 'base.html' %}

{% block title %}
<title>Groups list</title>
{% endblock %}

{%block content%}
    <form method="get">

        <label>First name:</label>
        <input type="text" name="first_name"><br><br>

        <label>Last name:</label>
        <input type="text" name="last_name"><br><br>

        <label>Age:</label>
        <input type="number" name="age"><br><br>

        <label>Address:</label>
        <input type="text" name="address"><br><br>

        <label>Email:</label>
        <input type="email" name="email"><br><br>

        <label>Phone Number:</label>
        <input type="number" name="group_number"><br><br>

        <label>Group Number:</label>
        <input type="number" name="group_number" min=0, max=10><br><br>

        <input type="submit" value="Submit">

    </form>

    <table class="table table-hover">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Age</th>
            <th>Birthdate</th>
            <th>Group number</th>
            <th><i class="bi bi-vector-pen"></i></th>
            <th><i class="bi bi-trash"></i></th>
        </tr>
        {% for groups in groups %}
        <tr>
            <td>{{ groups.first_name }}</td>
            <td>{{ groups.last_name }}</td>
            <td>{{ groups.email }}</td>
            <td>{{ groups.phone_number }}</td>
            <td>{{ groups.age }}</td>
            <td>{{ groups.birthdate }}</td>
            <td>{{ groups.groups_number }}</td>
            <td><a href="{% url 'groups:update' groups.id %}">EDIT</a></td>
            <td><a href="{% url 'groups:delete' groups.id %}">DELETE</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
