{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
<title>Teachers list</title>
{% endblock %}

{% block content %}

   <form method="get">
         {{ obj_filter.form | crispy }}
        <input class="btn btn-success mb-3 mt-3" type="submit" value="Search">

    </form>

    <p><strong>Count of teachers: {{ obj_filter.qs.count }} </strong></p>

    <table class="table table-hover">
        <tr>
            <th>№</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Age</th>
            <th>Birthdate</th>
            <th><i class="bi bi-vector-pen"></i></th>
            <th><i class="bi bi-trash"></i></th>
        </tr>
        {% for teacher in obj_filter.qs %}
        <tr>
            <td>{{ forloop.counter}}</td>
            <td>{{ teacher.first_name }}</td>
            <td>{{ teacher.last_name }}</td>
            <td>{{ teacher.email }}</td>
            <td>{{ teacher.phone_number }}</td>
            <td>{{ teacher.age }}</td>
            <td>{{ teacher.birthdate }}</td>
            <td><a href="{% url 'teachers:update' teacher.id %}">EDIT</a></td>
            <td><a href="{% url 'teachers:delete' teacher.id %}">DELETE </a></td>
        </tr>
        {% endfor %}
    </table>


{% endblock %}
