{% extends 'base.html' %}

{% block title %}
<title>Teachers list</title>
{% endblock %}

{% block content %}
    <form method="get">

        <label>First name:</label>
        <input type="text" name="first_name"><br><br>

        <label>Last name:</label>
        <input type="text" name="last_name"><br><br>

        <label>Age:</label>
        <input type="number" name="age"><br><br>

        <label>Address:</label>
        <input type="text" name="address"><br><br>

        <label>Email:</label>
        <input type="email" name="email"><br><br>

        <label>Phone Number:</label>
        <input type="number" name="group_number"><br><br>

        <label>Group Number:</label>
        <input type="number" name="group_number" min=0, max=10><br><br>

        <input type="submit" value="Submit">

    </form>

    <table class="table table-hover">
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Age</th>
            <th>Birthdate</th>
            <th>Group Number</th>
            <th><i class="bi bi-vector-pen"></i></th>
            <th><i class="bi bi-trash"></i></th>
        </tr>
        {% for teacher in teacher %}
        <tr>
            <td>{{ teacher.first_name }}</td>
            <td>{{ teacher.last_name }}</td>
            <td>{{ teacher.email }}</td>
            <td>{{ teacher.phone_number }}</td>
            <td>{{ teacher.age }}</td>
            <td>{{ teacher.birthdate }}</td>
            <td>{{ teacher.group_number }}</td>
            <td><a href="{% url 'teachers:update' teacher.id %}">EDIT</a></td>
            <td><a href="{% url 'teachers:delete' teacher.id %}">DELETE </a></td>
        </tr>
        {% endfor %}
    </table>


{% endblock %}
